
*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box }
html, body { min-height: 100% }
body { padding: 5rem; display: flex; gap: 2rem; flex-wrap: wrap; justify-content: center; background-color: hsl(200 30% 80%) }
h1{ text-align: center; width: 100%; font-family: system-ui }

.standing-icon{
  width: 10rem;
  aspect-ratio: 1;
  --back-size: 1.5rem;
  --touch-shadow-height: 1rem;
  --front-shadow-offset: .25rem;
  margin-inline: var(--back-size);
  margin-bottom: calc(var(--back-size) + var(--touch-shadow-height));
  
  background-color: #F9FAF9;
  background-image: linear-gradient(to top right, transparent, rgb(0 0 0 / .125));
  border-radius: 50%;
  
  box-shadow: 
    inset 0.125rem -0.125rem 0.25rem rgb(0 0 0 / .125),
    inset -0.25rem 0.25rem 0.25rem rgb(255 255 255 / .25);
/*     -0.25rem 0.25rem 0.25rem rgb(0 0 0 / .25); */
  position: relative;
  
  display: grid;
  place-items: center;
  padding: 1rem;
  font-size: 4rem;
  color: var(--accent-color);
}

.standing-icon::before, .standing-icon::after { content: ""; position: absolute; z-index: -1 }
/* Font Wrapper */
.icon_wrapper{
  text-align: center;
  color: inherit;
}
/* back */
.standing-icon::after{
  inset: calc(var(--back-size) * -1);
  background-color: var(--accent-color);
  
  background-image: radial-gradient(
    circle at calc(50% - var(--front-shadow-offset)) calc(50% + var(--front-shadow-offset)),
    rgb(0 0 0 / .25) calc(50% - var(--front-shadow-offset)), transparent calc(50% + var(--front-shadow-offset) * 2)
  );
  border-radius: 50%;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

/* touch-shadow */
.standing-icon::before{
  position: absolute;
  height: calc(var(--touch-shadow-height) * 2);
  inset-inline: 0;
  top: calc(100% + var(--back-size) - var(--touch-shadow-height));
  background-image: radial-gradient(ellipse 50% 50%, rgb(0 0 0 / .75), transparent 75%);
  filter: blur(5px);
}
